<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <context-param>
        <param-name>name</param-name>
        <param-value>This is context-param Name</param-value>
    </context-param>
    <resource-ref>
        <description>jsptest db</description>
        <res-ref-name>jdbc/jsptest</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>SampleServlet</servlet-name>
        <servlet-class>sample.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SampleServlet</servlet-name>
        <url-pattern>/sampleServlet</url-pattern>
    </servlet-mapping>
    <!--mvc2방식의 기본 서블릿 매핑-->
    <servlet>
        <servlet-name>myControl</servlet-name>
        <servlet-class>mvcMem.control.ControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myControl</servlet-name>
        <url-pattern>*.mdo</url-pattern>
    </servlet-mapping>

</web-app>